.blob-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    pointer-events: none;
    overflow: hidden;
}

.blob-main {
    position: relative;
    width: 100%;
    height: 100%;
}

.blob {
    position: absolute;
    pointer-events: none;
    transform-origin: center center;
}

.inner-dot {
    position: absolute;
    pointer-events: none;
}